.App {
  text-align: center;
  font-family: 'Inter';
}

.App-header {
  display: flex;
  height: 400px;
}

body {
  font-family: 'Inter', sans-serif;
}

.Refresh-icon{
  margin-left:20px;
}
.Refresh-icon:hover {
  cursor: pointer;
}

.App-footer {
  padding: 20px;
  text-align: center;
  background-color: white;
  color: #333;
  text-align: left;
  font-size: small;
}

/***********************************************************************Search*/
.top-left-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  position: absolute;
  top: 0;
  left: 0;
}

.search-wrapper {
  margin-left: 10px; /* Adjust as needed for spacing */
  display: flex;
  align-items: center;
}

.search-widget{
  display:inline-block;
  height: 30px;
  width:200px;
  border: 1px solid rgba(	75,	82,	89,0.25);
}

/***********************************************************************Pie*/
.pie-parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* for horizontal centering if parent is not flex */
}

.pie-chart-container {
  width: 250px;
  height: 250px;
  margin-top: 30px;
}

.pie-chart-diagram{
  margin: 20px;
  width: 200px;
  height: 200px;
}

.pie-title {
  font-size: small;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/***********************************************************************media*/

@media (max-width: 1200px) { 
  .pie-chart-container {
    width: 180px;
    height: 180px;
    margin-top: 50px;
  }

  .pie-chart-diagram{
    margin: 20px;
    width: 140px;
    height: 140px;
  }

  .pie-title {
    font-size: x-small;
    font-size: small;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15px);
  }
}




@media (max-width: 700px) { 
  .pie-chart-container {
    width: 135px;
    height: 135px;
    margin-top: 50px;
  }

  .pie-chart-diagram{
    margin: 20px;
    width: 110px;
    height: 110px;
  }

  .pie-title {
    font-size: x-small;
    font-size: small;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-15px);
  }
}


@media (max-width: 400px) { 
  .pie-chart-container {
    width: 125px;
    height: 125px;
    margin-top: 50px;
  }

  .pie-chart-diagram{
    margin: 20px;
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 375px) { 
  .pie-chart-container {
    width: 120px;
    height: 120px;
    margin-top: 50px;
  }
}

/*------------credits--------------------------------------------------------------------*/

.header-right {
  position: relative;
  top: 0;
  right: 0;
  padding-right: 20px;
  text-align: left;
  margin-top: 35px;
}

.built-by, .data-from {
  margin-right: 20px;
  font-size: x-small;
}
@media (max-width: 768px) { 
  .built-by, .data-from {
    margin-right: 0px;
  font-size: xx-small;
  }
}