.date-picker-container {
    position: inline-block;
  }
  
  .date-picker {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    color: black; /* Adjust color as needed */
    
  }
  
  .date-picker input[type="date"] {
    color: grey; /* Adjust color as needed */
    background-color: white; /* Adjust color as needed */
    border: 1px solid rgb(80, 80, 80); /* Adjust border as needed */
    padding: 5px;
    font-size: small;
  }
