.date-picker-container {
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    color: grey; /* Adjust color as needed */
  }
  
  .date-picker {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px;
    color: black; /* Adjust color as needed */
  }
  
  .date-picker input[type="date"] {
    color: grey; /* Adjust color as needed */
    background-color: white; /* Adjust color as needed */
    border: 1px solid rgb(80, 80, 80); /* Adjust border as needed */
    padding: 5px;
  }
  
  .label-datePicker{
    font-size: smaller;
  }
