/* JsonTable.css */
td, th {
  text-align: left;
  padding: 6px;
}

/*
table {
  border-collapse: collapse;
  border-spacing: 0;
}*/

/**********************************************************************************************************************/
.table-container {
  display: block;
  max-height: calc(100vh - [YourHeaderHeight]); /* Adjust this value based on the height of your page header */
}

.fixed-header {
  position: sticky;
  top: 0;
  /*background-color: rgb(108, 111, 122);*/
  background-color: white;
  z-index: 10;
  width: 3456px;
}

/* Ensure the table layout is fixed so the column widths don't change */
table {
  table-layout: fixed;
  width: 3456px;
}

@media (max-width: 1920px) { 
  .fixed-header {
    width: 1920px;
  }
  table {
    width: 1920px;
  }
}

.sum-row {
  background-color: #4b5259!important;
  font-size: 0.7rem;
  margin: 10px;
  box-shadow: 0px 3px 3px 0px rgba(58, 59, 60, 0.5);
  z-index: -1000;
  color: white;
}

.col-xs {
  width: 60px;
}
/**************************************************************************************************************************************/
.col-financial {
  width: 90px; /* or your preferred narrow width */
}

tr:nth-child(odd) .col-financial {
  background-color: #d4d7d9;
}

tr:nth-child(even) .col-financial {
  background-color: #c4c7cd; 
}

/*************************************************************************************************************************************/
.col-small {
  width: 100px;
}
.col-medium {
  width: 110px; 
}
.col-Xmedium {
  width: 110px; 
}
.col-large {
  width: 150px; 
}
.col-title {
  width: 260px; 
}
.col-people{
  width: 160px; 
}
/**********************************************************************************************************************/
.header-row {
  background-color: #d4d8df;
  font-weight: 500;
  /*box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);*/
}

tr:nth-child(odd) {
  background-color: #fdfeff;
}
tr:nth-child(even) {
  background-color: #f4f7fc; /*darker*/
}

/**************************************************************************************************************************************Outcome**/
.defeated, .canceled, .succeeded, .noQuorum, .expired, .ongoing {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: small;
  background-color: inherit;
  position: relative; /* Establishes a containing block for absolute positioning */
}
.defeated {
  background-color: rgba(241,46,92, 0.75);
}
.canceled {
  background-color: rgba(130, 137, 134, 0.75);
}
.expired {
  background-color: rgba(130, 137, 134, 0.75);
}
.succeeded {
  background-color: rgba(7, 186, 116, 0.75); 
}
.ongoing {
  background-color: rgba(0, 0, 0, 0.75); 
}

/**************************************************************************************************************************************Index**/
.index-defeated, .index-canceled, .index-succeeded, .index-noQuorum, .index-expired, .index-ongoing {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 30px;
  color: white;
  font-size: small;
  background-color: inherit;
  text-decoration: none;
  transform: translateX(10px);
}

.index-defeated {
  background-color: rgba(241,46,92, 0.85);
}
.index-canceled {
  background-color: rgba(130, 137, 134, 0.85);
}
.index-expired{
  background-color: rgba(130, 137, 134, 0.85);
}
.index-succeeded{
  background-color: rgba(7, 186, 116, 0.9); 
}

.index-ongoing{
  background-color: rgba(0, 0, 0, 0.9); 
}

.index-defeated:hover,
.index-canceled:hover,
.index-succeeded:hover {
  font-weight: 600;
  padding: 7px 12px;
  transition: padding 0.1s ease; /* Add a transition effect */
  margin-right: -5px;
}

.title{
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 0.9rem;
  align-items: left;
}

.row-style{
  font-size: small;
}
/*----------------------------------------------------------------------*/
.category-list{
  list-style-type: none;
  margin-right: 30%;
  margin-left: auto;
}

.category-pill {
  padding: 5px;
  border-radius: 15px;
  color: white;
  font-size: x-small;
  margin: 2px;
  text-align: center;
}

.category-tech {
  background-color: rgba(54, 90, 231,0.71);
}
.category-art {
  background-color: rgba(75, 50, 236,0.71);
}
.category-community {
  background-color: rgba(59, 148, 227,0.71);
}
.category-droposal{
  background-color: rgba(204, 41, 245,0.71);
}
.category-charity{
  background-color: rgba(61, 176, 225,0.71);
}
.category-investment{
  background-color: rgba(240, 38, 247,0.71);
}
.category-marketing{
  background-color: rgba(52, 58, 234,0.71);
}
.category-other{
  background-color: rgba(136, 45, 240,0.71);
}
.category-operations{
  background-color: rgba(56, 120, 229,0.71);
}
.category-goods{
  background-color: rgb(105, 47, 238,0.71);
}
.category-staking{
  background-color: rgba(169, 43, 243,0.71);
}
.category-content{
  background-color: rgba(24, 30, 192, 0.71);
}
.category-sport{
  background-color: rgba(76, 48, 218, 0.71);
}
.category-food{
  background-color: rgba(164, 48, 218, 0.71);
}

.category-building{
  background-color: rgba(17, 0, 170, 0.71);
}

.category-events{
  background-color: rgba(208, 74, 246, 0.71);
}

.category-gaming{
  background-color: rgba(208, 74, 246, 0.71);
}
/*----------------------------------------------------------------------*/

.code-style{
  font-family: 'Source Code Pro', monospace;;
  font-size: x-small;
  list-style-type: none;
  padding: 0;
  /*background-color: rgba(205, 213, 221, 0.5);*/
}

.filter-popup {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 90%;
  margin: auto;
  background-color: #c9ccd2;
  padding: 15px;
  z-index: 1000;
  font-size: small;
  font-weight: 500;
}

.title-container {
  position: relative;
  cursor: pointer;
}

.title-container .popup-link {
  text-decoration: none; /* Removes underline from links */
  color: inherit; /* Inherits the text color */
}

.title-container .tldr-popup {
  visibility: hidden;
  width: 500px;
  background-color: #f0f1f5;
  color: black;
  text-align: left;
  font-size: small;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  transform: translateX(100px);
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

.title-container:hover .tldr-popup {
  visibility: visible;
}

.title-container .read-more-text {
  display: block; /* Ensures the read more text is on a new line */
  margin-top: 10px; /* Adds space above the read more text */
  font-weight: 500;
}

.column-links {
  color: rgb(0, 0, 0);
  font-size: small;
  align-items: left;
}

.checkmark-style{
  padding: 5px 5px;
  text-align: center;
}
/*************************************************************************************************************************************STATUS*/
.status-completed, .status-onSchedule, .status-canceled, .status-behind, .status-abandoned, .status-uncertain, .status-ongoing {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  font-size: small;
  background-color: inherit;
}

.status-completed{
  background-color: rgba(7, 186, 116, 0.75); 
}
.status-onSchedule{
  background-color: rgba(7, 186, 116, 0.75); 
}
.status-behind{
  background-color: rgba(255, 180, 61, 0.75); 
}
.status-canceled{
  background-color: rgba(130, 137, 134, 0.75); 
}
.status-abandoned{
  background-color: rgba(53, 54, 53, 0.75); 
}
.status-uncertain{
  background-color: rgba(53, 54, 53, 0.75); 
}
.status-ongoing{
  background-color: rgba(0, 0, 0, 0.75); 
}
.more-items-popover {
  position: relative;
  cursor: pointer;
}
.popover-content {
  visibility: hidden;
  width: 120px;
  background-color: #f9f9f9;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.more-items-popover:hover .popover-content {
  visibility: visible;
  opacity: 1;
}

.centered-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}