button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


.bg-Header1{
  background-color: #c5cbd1!important;
}

.bg-Header2{
  background-color: #b8c1c9!important;
}

.header-cell {
  display: flex;
  font-size: 0.9rem;
  position: relative;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  height: 30px;
  justify-content: center; /* Center children vertically */
}
.sort-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  display: inline-block;
  margin: 0;
  transform: translateY(3px);
}

.header-title-wraper {
  display: flex; /* Enable flex layout */
  align-items: center; /* Center content vertically */
}

.title-wraper{
  display: inline-block;
}

.filter-button {
  border: none;
  cursor: pointer;
  padding: 4px;
  margin:0px;
}

.bundle-toggle {
  margin-left: 10px;
}

.thead-header {
  margin: 10px;
  transform: translateY(0px);
}

.triangle-indicator {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.triangle-right {
  border-width: 6px 0 6px 7px;
  border-color: transparent transparent transparent #4b5259;
  right: -5px;
}

.triangle-left {
  border-width: 6px 7px 6px 0;
  border-color: transparent #4b5259 transparent transparent;
  right: -5px;
}
